@font-face {
  font-family: "Material-Design-Icons";
  src: url("../fonts/Material-Design-Icons.eot?-g7cqhn");
  src: url("../fonts/Material-Design-Icons.eot?#iefix-g7cqhn") format("embedded-opentype"), url("../fonts/Material-Design-Icons.woff?-g7cqhn") format("woff"), url("../fonts/Material-Design-Icons.ttf?-g7cqhn") format("truetype"), url("../fonts/Material-Design-Icons.svg?-g7cqhn#Material-Design-Icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
	font-family: 'Gloria Hallelujah', cursive;
}

.icon {
	font-family: "Material-Design-Icons";
}

.brand.navbar-brand
{
	font-family: 'Roboto Slab', serif;
	/*color: #2489ce;*/
	color: white;
	font-weight:bold;
	font-size: 28px;
	cursor: pointer;
}

.helvetica
{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.roboto { font-family: 'Roboto Slab', serif;}

.right { float: right; }
.hide { display: none; }
.margin { margin: 10px; }

md-input-group.long { top: -20px; }
md-input-group.long > label { font-size: 24px; }
md-input-group.long > input { width: 100%; }

label[for=spell_word] { font-size: 24px; }
md-input-group > input.long { width: 100%; }

md-button { font-size:18px; text-transform: none;}

#definitions {
	max-height: 150px;
	overflow: auto;
}

.green-text { color: #259B24; }
.red-text { color: #E51C23; }
.icon { font-size: 32px; }

animate.ng-enter,
animate.ng-leave,
animate.ng-move {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
}

animate.ng-enter,
animate.ng-move {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

animate.ng-move.ng-move-active,
animate.ng-enter.ng-enter-active {
  opacity: 1;
  height: 120px;
}

animate.ng-leave {
  opacity: 1;
  overflow: hidden;
}

animate.ng-leave.ng-leave-active {
  opacity: 0;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
}

@media (max-width: 768px) {
	.brand.navbar-brand { font-size: 16px; }
	md-button { font-size:16px; text-transform: none;}
}

@media (min-width: 768px) {
	#main_content { max-width: 1000px; margin: auto;}
}
