<h2>
	<strong>Hold it right there, buster!</strong>
	<br/>
	<small>Your browser doesn't support speech synthesis!</small>
</h2>

<hr/>
<div >
	<h4>What the heck is that?</h4>
	
	<p class="helvetica" >
		The new speech synthesis <a href="https://dvcs.w3.org/hg/speech-api/raw-file/tip/speechapi.html" >API</a> 
		allows browsers to generate speech from text. 
		I leverage it heavily in this application, and I haven't spent the time to make it work without it.
	</p>
	<p class="helvetica" ><a href="http://updates.html5rocks.com/2014/01/Web-apps-that-talk---Introduction-to-the-Speech-Synthesis-API" target="_blank" >&gt;&gt;&gt; You can learn more about it here</a></p>
	
	<hr/>
	<h4>Ok? So now what?</h4>
	<p><a class="btn btn-primary btn" href="https://www.google.com/chrome/browser/" target="_blank" >Try using Chrome</a></p>
</div>
