<md-toolbar md-theme="green" >
	<div layout="horizontal" layout-align="space-around" layout-padding>
		<div>
			<h2 class="md-toolbar-tools" class="dispaly: inline-block;">
				<span class="navbar-brand brand" >Speak And Spell in Angular.js</span>
			</h2>
		</div>

		<div flex>
			&nbsp;
		</div>
		<div>
			<md-button class="md-fab helvetica" ng-click="voice_dialog()">
				<span class="icon">&#128266;</span>
			</md-button>
		</div>
	</div>
</md-toolbar>
<div layout="vertical" >
	<md-card flex layout="row" layout-padding layout-align="center center"
		ng-class="{ csspinner: is_speak_disabled(), line: is_speak_disabled(),
			'back-and-forth': is_speak_disabled(),grow: is_speak_disabled()
		}">
		<md-button flex class="md-raised margin" md-theme="green" ng-click="speak()" ng-disabled="speak_disabled == 'true'" >Speak</md-button>
		<md-button flex class="md-raised margin md-primary" id="definition_btn" ng-click="definition_dialog()" ng-disabled="speak_disabled == 'true'" >Definition</md-button>
		<md-button flex class="md-raised margin md-warn" ng-disabled="speak_disabled == 'true'" ng-click="new_word()" >New</md-button>
	</md-card>

	<md-card flex>
		<!--
		<md-text-float flex type="text" id="spell_word" ng-model="word_guess" ng-change="check_spelling()" label="Spell Word" class="long" ></md-text-float>
		-->
		<md-input-group ng-disabled="user.isLocked" class="long">
			<label for="spell_word">Spell</label>
			<md-input id="spell_word" class="long" 
				ng-model="word_guess" ng-change="check_spelling()">
			</md-input>
		</md-input-group>
	</md-card>
</div>

<md-card class="" ng-class="{'hide': hide_scoreboard}" id="scoreboard"
	ng-repeat="answer in answers" class="animate" >
	<h3 ng-class="{
			'green-text': answer_success(answer),
			'red-text': answer_failed(answer),
		}" >{{answer.word}}</h3>
	<p class="helvetica">{{answer.definition[0].text}}</p>
</md-card>


